<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="button">go to test</button>
    <script>
      const button = document.getElementById("button")
      button.addEventListener("click", (e)=>{
        console.log("button click")
        fetch(`/test`).then(response => {
          if (response.ok) {
            console.log(response.body);
            // If the response is OK, redirect to the details page
            return response;
          } else {
            // If the response is not OK, handle the error
            console.log('Error fetching test page:', response.status);
          }
        }).then(response => {
          // Redirect to the details page
          window.location.href = response.url;
        }).catch(error => {
          // Handle network errors
          console.log('Network error ', error);
        });
      })
    </script>
  </body>
</html>
