<% include ../public/partials/header.ejs %>
 <main class="content">
   My page


 </main>
  <% include ../public/partials/footer.ejs %>
  </body>
<script src="/javascripts/sync.js"></script>
<script defer src="/javascripts/app.js"></script>
<button id="enableNotifications" onclick="registerSync()">Click to trigger offline sync</button>
</html>
