<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <form method="post" action="/add" enctype="multipart/form-data">
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName"><br>
        <label for="familyName">Family name:</label><br>
        <input type="text" id="familyName" name="familyName"><br>
        <label for="dob">Data of Birth:</label><br>
        <input type="text" id="dob" name="dob"><br>
        <label for="myImage">Choose an image</label>
        <div>
          <input type="file" id="myImage" name="myImg" accept="image/*" required>
        </div>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
